/* Style the button that is used to open and close the collapsible content */
li{

    margin-bottom: 10px;
}

.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    background-color: #ccc;
  }

  .title {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height :10%;
    text-align: center;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content1 {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height :10%;
  }

  .collapsible1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height :10%;

  }
  .collapsible2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height :10%;
      
}
.collapsible3{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height :10%;

}
.collapsible4{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height :10%;
      
}
